[user]
    name = amkkr
[alias]
    a = add
    b = branch
    c = commit
    d = diff
    f = fetch
    l = reflog
    s = status

    co = checkout
    cm = commit --message
	force-pull = !git fetch && git reset --hard origin/master
    md = merge develop
    pl = pull
    pll = pull
    ps = push
    pu = push
    pus = push
    sc = switch -c
    sw = switch

[push]
	default = current
[fetch]
	prune = true
[core]
	editor = nvim
	ignorecase = false
[init]
	defaultBranch = master
[pull]
	rebase = false
