[Desktop Entry]
Name=Thunar File Manager
Name[ja]=Thunar ファイルマネージャー
Comment=Browse the filesystem with the file manager
Comment[ja]=ファイルマネージャーでファイルシステムを参照します
GenericName=File Manager
GenericName[ja]=ファイルマネージャー
Keywords=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Keywords[ja]=ファイルマネージャー;エクスプローラー;ファインダー;ブラウザー;フォルダー;ディレクトリ;ディレクトリ;パーティション;ドライブ;ネットワーク;デバイス;名前の変更;移動;コピー;削除;権限;ホーム;ゴミ箱;
Exec=thunar %F
Icon=system-file-manager
Terminal=false
StartupNotify=false
Type=Application
Categories=System;Utility;Core;GTK;FileManager;System;
MimeType=inode/directory;
Actions=open-home;open-computer;open-trash;
X-XFCE-Source=file:///usr/share/applications/thunar.desktop

Path=

[Desktop Action open-home]
Name=Home
Name[ja]=ホーム
Exec=thunar %U

[Desktop Action open-computer]
Name=Computer
Name[ja]=コンピューター
Exec=thunar computer:///

[Desktop Action open-trash]
Name=Trash
Name[ja]=ゴミ箱
Exec=thunar trash:///
