[Desktop Entry]
Type=Application
Name=VIA
Encoding=UTF-8
Comment=edit keymap
Exec=/home/o-gane/bin/via-1.3.1-linux.AppImage
Icon=/home/o-gane/.local/share/icons/hicolor/128x128/apps/via128x128.png
Terminal=false
Categories=Utility

